{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ring/ring {:mvn/version "1.8.1"}
        org.clojure/data.codec {:mvn/version "0.1.1"}
        net.sekao/odoyle-rum {:mvn/version "0.10.0"}
        bk/ring-gzip {:mvn/version "0.3.0"}
        cheshire/cheshire {:mvn/version "5.10.2"}
        hato/hato {:mvn/version "0.8.2"}
        lambdaisland/fetch {:mvn/version "1.0.41"}}

 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.764"}}}
           :dev {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.11"}}
                 #_#_:main-opts ["dev.clj"]}
           :prod {:extra-deps {leiningen/leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}}}
