body {
    margin: 0px;
    padding: 0px;
}

.highlight:hover {
    background:#7e68ce40;
    color: #f0d7f0;
}

.game-page {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 0.05fr 0.5fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "present-the-game present-the-game present-the-game present-the-game game-cheerleaders"
        "present-the-game present-the-game present-the-game present-the-game game-cheerleaders"
        "buy-game buy-game search-for-another-game search-for-another-game game-cheerleaders";
    place-items: center;
}

.present-the-game {grid-area: present-the-game;}
.search-for-another-game { grid-area: search-for-another-game; }
.game-info { grid-area: game-info; }
.game-cheerleaders {grid-area: game-cheerleaders;}
.buy-game { grid-area: buy-game; }
